.navigation-menu {
    -ms-flex: 0 0 40px !important;
    flex: 0 0 40px !important;
    background-color: #000;
    border-right: 1px solid #454545;
    /* padding-right: 0px !important;
    padding-left: 0px !important; */
    z-index: 1;
}

.navigation-menu__link {
    width: 40px;
    height: 50px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #333;
    text-decoration: none;
    text-align: center;
    color: white;
    overflow: visible;
}

.navigation-menu__link .navigation-menu-text {
    display: none;
}

.navigation-menu__link:hover {
    color: rgb(0, 140, 255);
}

.navigation-menu__link:hover .navigation-menu-text {
    display: block;
    background-color: #000;
    border-bottom: 1px solid #333;
    width: auto;
    height: 50px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.navigation-menu__link-active {
    color: rgb(0, 140, 255);
}