.navigation-bar {
    -ms-flex: 0 0 40px !important;
    flex: 0 0 40px !important;
    background-color: #000;
    border-right: 1px solid #454545;
    z-index: 1;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* .navigation-bar__link {
    width: 40px;
    height: 40px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #333;
    text-decoration: none;
    text-align: center;
    color: white;
    overflow: visible;
}

Link span {
    display: none;
}

LInk:hover {
    color: rgb(250, 150, 0);
}

Link:hover span {
    display: block;
    background-color: #000;
    border-bottom: 1px solid #333;
    width: auto;
    height: 40px;
    margin-top: -10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(250, 150, 0);
} */