.navigation-menu {
    -ms-flex: 0 0 40px !important;
    flex: 0 0 40px !important;
    background-color: #000;
    border-right: 1px solid #454545;
    z-index: 1;
}

.link {
    display: flex;
    width: 40px;
    height: 45px;
    color: white;
    text-decoration: none;
    overflow: hidden;
    border-bottom: 1px solid #333;
}

.icon {
    padding-top: 10px;
    padding-left: 10px;
}

.text {
    background-color: black;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.link:hover {
    color: rgb(0, 160, 255);
    overflow: visible;
}

.link-acitve {
    color: rgb(0, 160, 255);
}